.Header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 50px 0;
}

.Header .Header_input {
  border: none;
  height: 50px;
  font-weight: bold;
  font-size: 45px;
  outline: none;
  width: 100%;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.dark .Header .Header_input {
  background-color: #474957;
  color: #ededee;
}
